


<div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>

<!-- f.form.valid &&  -->
            <form  class="form-signin"  name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="userModel.username" #username="ngModel"
                  required />
                <div *ngIf="f.submitted && !username.valid" class="help-block">* Username is required</div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label for="password">Password</label>
                <input  type="password" class="form-control" name="password" [(ngModel)]="userModel.password" #password="ngModel"
                  required />
                <div *ngIf="f.submitted && !password.valid" class="help-block">* Password is required</div>
              </div>
              <div class="form-group" >
                <button [disabled]="loading" class="btn btn-primary">Login</button>
              </div>
            </form>
            {{ errMessage }}
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div>
</div>