<div class="bot-bg-box"></div>

<div class="chat-icon">
    <div class="chat-icon-inner-box">
        <img src="assets/images/UnripeAdoredGrayreefshark.gif" />
    </div>
</div>

<div class="chat-window opened">
    <div class="upper-div text-center">
        <div class="gif-box">
            <img src="assets/images/UnripeAdoredGrayreefshark.gif" />
        </div>
        <img src="assets/images/close-icon.png" class="close-btn" />
    </div>

    <div class=chat-outer-wrapper>
        <div class=chat-wrapper>
            <div class="chats-content-login-container">

                    <div class="login-container" style="vertical-align: center !important;">
							<div class="login_text">LOGIN</div>
							<br>
							<form id="login_form" name="login_form" autocomplete="off">
								<div class="form-group">
									<input class="form-control username2" focus="" id="username2" autocapitalize="none" type="text" name="username2" placeholder="UserID" ng-model="uname" required="" autocomplete="off" style="">
									<input class="form-control username" focus="" id="username" style="display:none;" autocapitalize="none" type="text" name="username" placeholder="UserID" autocomplete="off">
								
									<input class="form-control userpassword2" focus="" type="password" autocapitalize="none" name="userpassword2" id="userpassword2" placeholder="Password" ng-model="upwd" required="" autocomplete="off" style="">
									<input class="form-control userpassword" focus="" type="password" style="display:none;" autocapitalize="none" name="userpassword" id="userpassword" placeholder="Password" autocomplete="off">
									
									<label>
										<input ng-click="rememberMe(uname,upwd)" class="rememberme" type="checkbox"> Remember Me
									</label>
									<input class="form-control" type="submit" (click)="login()"><!-- end ngIf: !loginpress -->
								</div>
							</form>
						</div>
                <!-- <div id="loader" class="rply-msg-box typing-gif-box" style="width:auto; padding:0;position: absolute;bottom: 60px;">
                    <div class="">
                        <img src="assets/images/typing-gif.gif" />
                    </div>
                </div>
                <div class="blackdrop-layer"></div>
                <div class="amodal-box">
                    <div class="amodal-header">
                        <p>Error description</p>
                    </div>
                    <div class="amodal-body">
                        <textarea id="textVal" rows="3" placeholder="message"></textarea>
                    </div>
                    <div class="amodal-footer">
                        <button id="ok" class="btn primary-btn pull-right">Ok</button>
                        <div class="clearfix"></div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>